<button nz-button
        [nzType]="'primary'"
        (click)="showModal()">
  <span>Create car</span>
</button>

<nz-table #basicTable [nzData]="cars" [nzFrontPagination]="false">
  <thead>
  <tr>
    <th>id</th>
    <th>brand</th>
    <th>model</th>
    <th>color</th>
    <th>mileage</th>
    <th>actions</th>
    <th>
      <button nz-button [nzType]="'primary'" (click)="selectAll()" [nzSize]="'small'">
        Select all
      </button>
      <button *ngIf="isSelected()" (click)="deleteSelected()">
        delete selected
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of basicTable.data">
    <td>{{ car.id }}</td>
    <td>{{ car.brand }}</td>
    <td>{{ car.model }}</td>
    <td>{{ car.color }}</td>
    <td>{{ car.mileage }}</td>
    <td>
      <a (click)="showModalUpdate(car)">Edit</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a
        nz-popconfirm
        nzPopconfirmTitle="Are you sure?"
        nzOkText="ok"
        nzCancelText="cancel"
        (nzOnConfirm)="delCar(car.id)"
      >
        Delete
      </a>
    </td>
    <td>
      <input type="checkbox" [checked]="car.selected" (change)="selectCar(car.id)">
    </td>
  </tr>
  </tbody>
  <button (click)="backStepStart()" [disabled]="currentPage == 1">[<<] </button>
  <button (click)="backStepPage()" [disabled]="currentPage == 1">[<] </button>
  <button *ngFor="let page of pages" (click)="changePage(page)" [class.disable-page]="currentPage == page" [disabled]="currentPage == page">{{page}}</button>
  <button (click)="nextStepPage()" [disabled]="currentPage == this.countPage"> [>]</button>
  <button (click)="nextStepEnd()" [disabled]="currentPage == this.countPage"> [>>]</button>
</nz-table>


<nz-modal
  nzWidth="250px"
  [(nzVisible)]="isVisible"
  [nzTitle]="isUpdate ? 'Update car' : 'Create car'"
  [nzOkText]="isUpdate ? 'Update' : 'Create'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="isUpdate ? handleUpdate() : handleCreate()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="carForm">
      <select class="select" formControlName="brand">
        <option value="" disabled selected hidden>Select brand</option>
        <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
      </select>
      <!--      <nz-select formControlName="brand">-->
      <!--        <nz-option nzValue="select bran" nzLabel="Lucy"></nz-option>-->
      <!--        <nz-option  *ngFor="let brand of brands" [nzValue]="brand">{{brand}}></nz-option>-->
      <!--      </nz-select>-->
      <div class="example-input">
        <input nz-input type="text"
               formControlName="model"
               placeholder="model"
               nzSize="default">

        <input nz-input type="text"
               formControlName="color"
               placeholder="color"
               nzSize="default">

        <input nz-input type="number"
               formControlName="mileage"
               placeholder="mileage"
               nzSize="default">
      </div>
    </form>
  </ng-container>
</nz-modal>
