<button nz-button
        [nzType]="'primary'"
        (click)="showModal()">
  <span>Create car</span>
</button>
<select [(ngModel)]="sort" (change)="getCars()">
  <option value="">sort</option>
  <option value="DESK">brand</option>
</select>
<select [(ngModel)]="filterByBrand" (change)="filterBrand()">
  <option value="" disabled selected hidden>Filter by brand</option>
  <option *ngFor="let brand of brands">{{brand}}</option>
</select>
<button (click)="clearFilters()">Clear filters</button>

<nz-table #basicTable [nzData]="cars" [nzFrontPagination]="false">
  <thead>
  <tr>
    <th>id</th>
    <th>image</th>
    <th>brand</th>
    <th>model</th>
    <th>color</th>
    <th>mileage</th>
    <th>actions</th>
    <th>
      <div *ngIf="total !== 0">
        <button nz-button [nzType]="'primary'" (click)="selectAll()" [nzSize]="'small'">
          Select all
        </button>
        <button *ngIf="isSelected()" (click)="deleteSelected()">
          delete selected
        </button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of basicTable.data">
    <td>{{ car.id }}</td>
    <td>
      <button>Add image</button>{{ car.image }}</td>
    <td>{{ car.brand }}</td>
    <td>{{ car.model }}</td>
    <td>{{ car.color }}</td>
    <td>{{ car.mileage }}</td>
    <td>
      <a (click)="showModalUpdate(car)">Edit</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a
        nz-popconfirm
        nzPopconfirmTitle="Are you sure?"
        nzOkText="ok"
        nzCancelText="cancel"
        (nzOnConfirm)="delCar(car.id)"
      >
        Delete
      </a>
    </td>
    <td>
      <input type="checkbox" [checked]="car.selected" (change)="selectCar(car.id)">
    </td>
  </tr>
  </tbody>
  <app-pagination
    [currentPage]="currentPage"
    [total]="total"
    [itemPerPage]="take"
    (onPagination)="changePage($event)"
  >
  </app-pagination>
</nz-table>


<nz-modal
  nzWidth="250px"
  [(nzVisible)]="isVisible"
  [nzTitle]="isUpdate ? 'Update car' : 'Create car'"
  [nzOkText]="isUpdate ? 'Update' : 'Create'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="isUpdate ? handleUpdate() : handleCreate()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="carForm">
      <select class="select" formControlName="brand">
        <option value="" disabled selected hidden>Select brand</option>
        <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
      </select>
      <!--      <nz-select formControlName="brand">-->
      <!--        <nz-option nzValue="select bran" nzLabel="Lucy"></nz-option>-->
      <!--        <nz-option  *ngFor="let brand of brands" [nzValue]="brand">{{brand}}></nz-option>-->
      <!--      </nz-select>-->
      <div class="example-input">
        <input nz-input type="text"
               formControlName="model"
               placeholder="model"
               nzSize="default">

        <input nz-input type="text"
               formControlName="color"
               placeholder="color"
               nzSize="default">

        <input nz-input type="number"
               formControlName="mileage"
               placeholder="mileage"
               nzSize="default">
      </div>
    </form>
  </ng-container>
</nz-modal>
